# data directory
data/

# binaries, etc.
afl/
fasttest
fuzz
fuzz32
fuzztest
covtest
libtest

# library sources
libplum.c
libplum.h

# any generated "interesting" outputs from libfuzzer
/fuzz-*.log
/crash-*
/leak-*
/oom-*
/slow-unit-*
/timeout-*

# coverage measurement intermediate files
coverage/driver.o
